<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Option 1</title>

    <link href="fontawesome/css/all.min.css" rel="stylesheet">
    <link href="figure-ui/css/figure.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="figure-ui/js/figure.js"></script>
</head>

<body class="option-1 test">

    <div id="app" v-cloak>

        <div class="fi-modal fi-full-width fi-full-height fi-modal-open fi-modal-visible fi-no-click-close">
            <div class="fi-modal-outer">
                <div class="fi-modal-inner">
                    <div class="fi-modal-content">

                        <div><a href="https://fw0vah.axshare.com/#g=1&p=home&c=1" class="fi-close-button circle-close"></a></div>

                        <div class="fi-modal-body fi-no-padding">

                            <div class="fi-modal-body-inner">

                                <div class="fi-tabs fi-alt">
                                    <ul>
                                        <li><a href="https://fw0vah.axshare.com/#g=1&p=experiment_-_mark___gemma_-_basic_info&c=1" class="fi-tab-button"><i class="far fa-exclamation-circle fi-icon-margin"></i>Basic Info</a></li>
                                        <li><a href="https://fw0vah.axshare.com/#g=1&p=experiment_-_mark___gemma&c=1" class="fi-tab-button"><i class="far fa-magic fi-icon-margin"></i>Design</a></li>
                                        <li class="fi-tab-active"><a href="#" class="fi-tab-button"><i class="far fa-th fi-icon-margin"></i>Plates</a></li>
                                    </ul>
                                </div>

                                <div class="plate-layout-container">

                                    <div class="treatments">
                                        <div class="filters-actions">
                                            <div class="filters">
                                                <div class="fi-form">
                                                    <div class="fi-row">
                                                        <div class="fi-column fi-width-small-6">
                                                            <div class="fi-form-field">
                                                                <div class="custom-dropdown fi-small">
                                                                    <select id="condition_set" v-model="filters.condition_set" class="fi-form-control">
                                                                        <option value="all">All Condition Sets</option>
                                                                        <option value="Condition.Set.1">Condition.Set.1</option>
                                                                        <option value="Condition.Set.2">Condition.Set.2</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="fi-column fi-width-small-6">
                                                            <div class="fi-form-field">
                                                                <div class="custom-dropdown fi-small">
                                                                    <select id="sample_id" v-model="filters.sample_id" class="fi-form-control">
                                                                        <option value="all">All Sample IDs</option>
                                                                        <option value="Sample.ID.1">Sample.ID.1</option>
                                                                        <option value="Sample.ID.2">Sample.ID.2</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="fi-row">
                                                        <div class="fi-column fi-width-small-6">
                                                            <div class="fi-form-field">
                                                                <div class="custom-dropdown fi-small">
                                                                    <select id="sample_role" v-model="filters.role" class="fi-form-control">
                                                                        <option value="all">All Roles</option>
                                                                        <option value="test_sample">TSTSAM</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="fi-column fi-width-small-6">
                                                            <div class="fi-form-field">
                                                                <div class="custom-dropdown fi-small">
                                                                    <select id="rate" v-model="filters.rate" class="fi-form-control">
                                                                        <option value="all">All Rates</option>
                                                                        <option value="200">200</option>
                                                                        <option value="50">50</option>
                                                                        <option value="12.5">12.5</option>
                                                                        <option value="3.125">3.125</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="fi-row">
                                                        <div class="fi-column fi-width-small-6">
                                                            <div class="fi-form-field">
                                                                <div class="custom-dropdown fi-small">
                                                                    <select id="method" v-model="filters.method" class="fi-form-control">
                                                                        <option value="all">All Methods</option>
                                                                        <option value="Method.1">Method.1</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="fi-column fi-width-small-6">
                                                            <div class="fi-form-field">
                                                                <button type="button" class="fi-button fi-primary fi-full-width fi-small" @click.prevent="clear_filters" :disabled="!filters_active">Clear All Filters</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="actions">
                                                <div class="fi-form fi-form-inline">
                                                    <div class="fi-form-field"><button type="button" :disabled="selected_treatments.length === treatments_filtered_list.length" @click.prevent="select_all_treatments" class="fi-button fi-default fi-small">Select All</button></div>
                                                    <div class="fi-form-field"><button type="button" :disabled="!selected_treatments.length" @click.prevent="unplace_treatments" class="fi-button fi-default fi-small">Unplace</button></div>
                                                    <div class="fi-form-field"><button type="button" :disabled="!selected_treatments.length" data-fi-modal=".generate_plates_modal" class="fi-button fi-default fi-small">Generate Plates from Selected</button></div>
                                                </div>
                                                <div class="fi-form fi-form-inline">
                                                    <div class="fi-form-field"><button type="button" @click.prevent="" class="fi-button fi-default fi-small">Undo</button></div>
                                                    <div class="fi-form-field"><button type="button" @click.prevent="" class="fi-button fi-default fi-small">Redo</button></div>
                                                </div>
                                            </div>
                                            <div class="treatment-counts fi-text-light">
                                                <span v-if="filters_active" class="fi-badge">Showing {{ treatment_result_count }} out of {{ treatments.length }} treatments</span>
                                                <span v-else>Showing {{ treatments.length }} out of {{ treatments.length }} treatments</span>
                                                <span class="separate"></span>
                                                <span>{{ count_placed_treatments() }} placed</span>
                                                <span>{{ treatments.length - count_placed_treatments() }} remaining</span>
                                            </div>
                                        </div>
                                        <div class="treatments-outer">
                                            <div class="treatments-inner">
                                                <div class="treatment-list-container">
                                                    <div class="treatment-item treatments-header">
                                                        <div class="cell id">ID <i class="fa fa-caret-up"></i></div>
                                                        <div class="cell place">Plate / Well</div>
                                                        <div class="cell condition-set">Condition Set</div>
                                                        <div class="cell sample-id">Sample ID</div>
                                                        <div class="cell role">Role</div>
                                                        <div class="cell rate">Rate</div>
                                                        <div class="cell replicate">Replicate</div>
                                                        <div class="cell method">Method</div>
                                                    </div>
                                                    <drag-select attribute="attr" @change="selection_treatments($event)" class="treatment-list">
                                                        <template v-slot="{ selected }">
                                                            <div v-for="item in treatments_filtered_list"
                                                             :attr="item.id"
                                                             class="treatment-item"
                                                             :class="{'selected': selected_treatments.includes(String(item.id))}">
                                                                <span class="cell id">{{ item.id }}</span>
                                                                <span class="cell place">
                                                                    <strong v-if="item.place">
                                                                        <strong>{{ item.place.plate_id }}</strong>
                                                                        /
                                                                        {{ get_well_location(item.place.well_id).row }}-{{ get_well_location(item.place.well_id).column }}
                                                                    </strong>
                                                                    <span v-else class="fi-text-light">Unplaced</span>
                                                                </span>
                                                                <span class="cell condition-set">{{ item.condition_set }}</span>
                                                                <span class="cell sample-id">{{ item.sample_id }}</span>
                                                                <span class="cell role">{{ role_names[item.role] }}</span>
                                                                <span class="cell rate">{{ item.rate }}</span>
                                                                <span class="cell replicate">{{ item.replicate }}</span>
                                                                <span class="cell method">{{ item.method }}</span>
                                                            </div>
                                                         </template>
                                                    </drag-select>
                                                </div>
                                            </div>
                                            <div class="placement-buttons">
                                                <ul class="fi-list">
                                                    <li v-if="selected_treatments.length < 2 && selected_wells.length < 2">
                                                        <button type="button" :disabled="selected_treatments.length && selected_wells.length && selected_treatments.length !== selected_wells.length" @click.prevent="place_across" class="fi-button fi-default fi-full-width fi-small">Place</button>
                                                    </li>
                                                    <li v-if="selected_treatments.length > 1 || selected_wells.length > 1">
                                                        <button type="button" :disabled="selected_treatments.length > selected_wells.length" @click.prevent="place_across" class="fi-button fi-default fi-full-width fi-small">Place Across</button>
                                                    </li>
                                                    <li v-if="selected_treatments.length > 1 || selected_wells.length > 1">
                                                        <button type="button" :disabled="selected_treatments.length > selected_wells.length" @click.prevent="place_down" class="fi-button fi-default fi-full-width fi-small">Place Down</button>
                                                    </li>
                                                </ul>
                                                <div class="fi-section" :class="{
                                                    'fi-text-danger': selected_treatments.length && selected_wells.length && selected_treatments.length > selected_wells.length,
                                                    'fi-text-success': selected_treatments.length && selected_treatments.length <= selected_wells.length || selected_wells.length && selected_treatments.length <= selected_wells.length
                                                }">
                                                    <div class="fi-section fi-text-center selection-count" v-if="selected_treatments.length" :class="{
                                                        'fi-text-light': !selected_wells.length,
                                                    }">
                                                        <span class="bug-number">{{ selected_treatments.length }}</span>
                                                        treatments selected
                                                    </div>
                                                    <div class="fi-section fi-text-center selection-count" v-if="selected_wells.length" :class="{
                                                        'fi-text-light': !selected_treatments.length,
                                                    }">
                                                        <span class="bug-number">{{ selected_wells.length }}</span>
                                                        wells selected
                                                    </div>

                                                </div>
                                                <div class="fi-section" v-if="selected_treatments.length && selected_wells.length && selected_treatments.length > selected_wells.length">
                                                    <small><strong>Make sure the selected wells are more than or equal the selected treatments</strong></small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="plates">

                                        <div class="plates-nav">
                                            <div class="plate-nav-item" v-for="(plate, index) in plates" :class="{'current': index === current_plate_index, 'has-results': well_result_count}">
                                                <div class="plate-info">
                                                    <span class="fi-badge well-result-count" v-if="well_result_count">
                                                        {{ well_result_count }}
                                                        <span v-if="well_result_count > 1">matches</span>
                                                        <span v-else>match</span>
                                                        found
                                                    </span>
                                                    <h5><strong>{{ index + 1 }}: {{ plate.name }}</strong></h5>
                                                    <div class="plate-counts fi-text-light">
                                                        <span>{{ count_placed_wells(plates[current_plate_index]) }} placed</span>
                                                        <span>{{ plates[current_plate_index].size - count_placed_wells(plates[current_plate_index]) }} remaining</span>
                                                    </div>
                                                </div>
                                                <a href="#" @click.prevent="current_plate_index = index; selected_wells = [];" class="plate-nav-item-button"></a>
                                                <button type="button" @click.prevent="delete_plate(index)" class="plate-nav-item-delete fi-close-button"></button>
                                            </div>
                                            <button type="button" @click.prevent="" class="add-plate" data-fi-modal=".add_plate_modal">
                                                <i class="far fa-plus"></i>
                                                Add Plate
                                            </button>
                                        </div>

                                        <div class="plate-header" v-if="current_plate_index > -1">
                                            <div class="plate-header-info">
                                                <h4 :data-fi-tooltip="current_plate_index + 1 + ': ' + plates[current_plate_index].name" data-fi-delay="250"><strong>{{ current_plate_index + 1 }}: {{ plates[current_plate_index].name }}</strong></h4>
                                                <div class="plate-counts fi-text-light">
                                                    <span>{{ count_placed_wells(plates[current_plate_index]) }} placed</span>
                                                    <span>{{ plates[current_plate_index].size - count_placed_wells(plates[current_plate_index]) }} remaining</span>
                                                </div>
                                                <span class="fi-badge" v-if="well_result_count">
                                                    {{ well_result_count }}
                                                    <span v-if="well_result_count > 1">matches</span>
                                                    <span v-else>match</span>
                                                    found
                                                </span>
                                            </div>
                                            <div class="plate-header-actions">
                                                <div class="fi-form fi-form-inline">
                                                    <!-- <div class="fi-form-field"><button type="button" @click.prevent="selected_wells = [];" class="fi-button fi-default fi-small" v-if="selected_wells.length">Clear Selection</button></div> -->
                                                    <div class="fi-form-field"><button type="button" @click.prevent="set_as_blank" class="fi-button fi-default fi-small" :disabled="!selected_wells.length">Set As Empty</button></div>
                                                    <div class="fi-form-field"><button type="button" @click.prevent="unplace_wells" class="fi-button fi-default fi-small" :disabled="!selected_wells.length">Unplace</button></div>
                                                    <div class="fi-form-field"><button type="button" @click.prevent="clear_plate" class="fi-button fi-default fi-small">Clear Plate</button></div>
                                                    <div class="fi-form-field">
                                                        <div class="fi-dropdown fi-opposite">
                                                            <button type="button" class="fi-dropdown-trigger more-button fi-button fi-default fi-small"><i class="fa fa-ellipsis-v"></i></button>
                                                            <div class="fi-dropdown-content fi-small">
                                                                <ul>
                                                                    <li><a href="#" data-fi-modal=".edit_plate_modal" @click.prevent="open_edit_plate(plates[current_plate_index].id)">Edit Plate</a></li>
                                                                    <li><a href="#">Save as Standrad Layout</a></li>
                                                                    <li class="fi-divider"></li>
                                                                    <li><a href="#" @click.prevent="delete_plate(current_plate_index)">Delete Plate</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="plat-exp-container" v-if="current_plate_index > -1">

                                            <div class="plate-container">

                                                <div class="plate-outer" :class="'size_' + plates[current_plate_index].size">

                                                    <div class="plate-clear-selection" @click="selected_wells = [];"></div>

                                                    <div class="plate-top-bar">

                                                        <div class="plate-corner">
                                                            <div class="plate-select-all" :class="{'selected': selected_wells.length === plates[current_plate_index].wells.length}" @click="select_deselect_all"></div>
                                                        </div>

                                                        <div class="plate-columns">
                                                            <div v-for="(plate_column, index) in plate_sizes[plates[current_plate_index].size].columns" class="plate-column" :class="{'selected': selected_columns.includes(index)}" @click="select_deselect_column(index)">{{ index + 1 }}</div>
                                                        </div>

                                                    </div>

                                                    <div class="plate-inner" :class="{'filter-match': plates[current_plate_index].filter_match}">

                                                        <div class="plate-rows">
                                                            <div v-for="(plate_row, index) in plate_sizes[plates[current_plate_index].size].rows" class="plate-row" :class="{'selected': selected_rows.includes(index)}" @click="select_deselect_row(index)">{{ well_row_letters[index] }}</div>
                                                        </div>

                                                        <drag-select attribute="attr" @change="selection($event)">
                                                            <template v-slot="{ selected }">
                                                                <div v-for="item in plates[current_plate_index].wells"
                                                                 :attr="item.id"
                                                                 @mouseover="well_mouseover(item.id)"
                                                                 @mouseout="well_mouseout(item.id)"
                                                                 class="well"
                                                                  :class="{
                                                                      'filter-match': item.filter_match,
                                                                  }">
                                                                    <div class="well-inner"
                                                                      :class="{
                                                                          'selected': selected_wells.includes(String(item.id)) || temp_selection.includes(String(item.id)),
                                                                          'highlighted': item.highlight,
                                                                      }">
                                                                        <div v-if="item.content" class="well-content">
                                                                            <span v-if="item.content !== 'blank'" :style="{ backgroundColor: role_colors[getObjectByKey(treatments, 'id',item.content).role] }">

                                                                            </span>
                                                                            <span v-else class="empty"><span class="xl"></span><span class="xr"></span></span>
                                                                            <div class="well-info" v-if="item.content" :data-fi-tooltip="render_tooltip_content(item.id)" :data-fi-offset="tooltip_offset"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                             </template>
                                                        </drag-select>

                                                        <!-- <div class="back-drop"></div> -->

                                                    </div>

                                                </div>

                                            </div>

                                            <div class="color-keys">
                                                <div class="color-keys-inner" v-click-outside="reset_highlight">
                                                    <div class="color-key" :class="{'active': highlight_by === 'test_sample'}" @click="highlight('test_sample')"><span class="circle" :style="{ backgroundColor: role_colors['test_sample'] }"></span>Test Samples</div>
                                                    <div class="color-key"><span class="circle" :style="{ backgroundColor: role_colors['ctrl_w_sample'] }"></span>Controls with Samples</div>
                                                    <div class="color-key"><span class="circle" :style="{ backgroundColor: role_colors['ctrl_wo_sample'] }"></span>Controls without Samples</div>
                                                    <div class="color-key" :class="{'active': highlight_by === 'empty'}" @click="highlight('empty')"><span class="circle empty"><span class="xl"></span><span class="xr"></span></span>Empty</div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="no-items-label empty-template" v-else>
                                            <i class="fal fa-th empty-template-icon"></i>
                                            <div>
                                                No plates added
                                                <div class="empty-template-button">
                                                    <button data-fi-modal=".add_plate_modal" class="fi-button fi-primary fi-small">
                                                        <i class="far fa-plus fi-icon-margin"></i>Add Plate
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="add_plate_modal fi-modal fi-no-click-close">
            <div class="fi-modal-outer">
                <div class="fi-modal-inner">
                    <div class="fi-modal-content">

                        <div class="fi-modal-header">
                            <button type="button" class="fi-close-button fi-close-modal"></button>
                            <h3>Add Plate</h3>
                        </div>

                        <form @submit.prevent="submit_add_plate">

                            <div class="fi-modal-body">

                                <div class="fi-form">
                                    <div class="fi-form-field">
                                        <label class="fi-form-label">Plate Name</label>
                                        <input type="text" class="fi-form-control" v-model="add_plate_data.name" data-fi-focus-start />
                                    </div>
                                    <div class="fi-form-field">
                                        <label class="fi-form-label">Plate Size</label>
                                        <div class="custom-dropdown">
                                            <select class="fi-form-control" v-model="add_plate_data.size">
                                                <option value="0">Please select...</option>
                                                <option v-for="size in plate_sizes" :value="size.name">{{ size.name }} ({{ size.columns }}x{{ size.rows }})</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="fi-modal-footer fi-buttons-container fi-text-right">
                                <button type="button" class="fi-button fi-default fi-close-modal" @click.prevent="">Cancel</button>
                                <button type="submit" class="fi-button fi-primary" :disabled="!add_plate_data.name || add_plate_data.size == 0">Add Plate</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="edit_plate_modal fi-modal fi-no-click-close">
            <div class="fi-modal-outer">
                <div class="fi-modal-inner">
                    <div class="fi-modal-content">

                        <div class="fi-modal-header">
                            <button type="button" class="fi-close-button fi-close-modal"></button>
                            <h3>Edit Plate</h3>
                        </div>

                        <form @submit.prevent="submit_edit_plate">

                            <div class="fi-modal-body">

                                <div class="fi-form">
                                    <div class="fi-form-field">
                                        <label class="fi-form-label">Plate Name</label>
                                        <input type="text" class="fi-form-control" v-model="edit_plate_data.name" data-fi-focus-start />
                                    </div>
                                    <div class="fi-form-field">
                                        <label class="fi-form-label">Plate Size</label>
                                        <select class="fi-form-control" v-model="edit_plate_data.size">
                                            <option value="0">Please select...</option>
                                            <option v-for="size in plate_sizes" :value="size.name">{{ size.name }} ({{ size.columns }}x{{ size.rows }})</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="fi-modal-footer fi-buttons-container fi-text-right">
                                <button type="button" class="fi-button fi-default fi-close-modal" @click.prevent="">Cancel</button>
                                <button type="submit" class="fi-button fi-primary" :disabled="!edit_plate_data.name || edit_plate_data.size == 0">Save Plate</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="generate_plates_modal fi-modal fi-no-click-close">
            <div class="fi-modal-outer">
                <div class="fi-modal-inner">
                    <div class="fi-modal-content">

                        <div class="fi-modal-header">
                            <button type="button" class="fi-close-button fi-close-modal"></button>
                            <h3>Generate Plates</h3>
                        </div>

                        <form @submit.prevent="">

                            <div class="fi-modal-body">

                                <div class="fi-form">
                                    <div class="fi-form-field">
                                        <label class="fi-form-label">Plate Layout</label>
                                        <div class="fi-dropdown fi-full-width choose-layout">
                                            <button type="button" class="fi-dropdown-trigger fi-button fi-default fi-full-width">
                                                <span class="fi-dropdown-title">
                                                    <span v-if="generate_plates_data.plate_layout.name">{{ generate_plates_data.plate_layout.name }}</span>
                                                    <span v-else>Pleae select a layout...</span>
                                                </span>
                                                <i class="far fa-angle-down"></i>
                                            </button>
                                            <div class="fi-dropdown-content fi-full-width">
                                                <div class="fi-form-field fi-search"><input type="search" class="fi-form-control" placeholder="Search Layouts..."></div>
                                                <ul class="fi-list fi-list-line fi-no-spacing fi-no-margin">
                                                    <li class="fi-dropdown-header"><strong>Recommended Layouts</strong></li>
                                                    <li v-for="plate_layout in plate_layouts" v-if="plate_layout.recommended" :class="{'active': generate_plates_data.plate_layout.id == plate_layout.id}">
                                                        <a href="#" @click.prevent="choose_layout(plate_layout.id)">
                                                            <div class="blurb">
                                                                <div class="blurb-media"><div class="thumb"></div></div>
                                                                <div class="blurb-content">
                                                                    <strong>{{ plate_layout.name }}</strong> <br />{{ plate_sizes[plate_layout.size].name }} ({{plate_sizes[plate_layout.size].columns}}x{{plate_sizes[plate_layout.size].rows}})
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="fi-dropdown-header"><strong>More Layouts</strong></li>
                                                    <li v-for="plate_layout in plate_layouts" v-if="!plate_layout.recommended" :class="{'active': generate_plates_data.plate_layout.id == plate_layout.id}">
                                                        <a href="#" @click.prevent="choose_layout(plate_layout.id)">
                                                            <div class="blurb">
                                                                <div class="blurb-media"><div class="thumb"></div></div>
                                                                <div class="blurb-content">
                                                                    <strong>{{ plate_layout.name }}</strong> <br />{{ plate_sizes[plate_layout.size].name }} ({{plate_sizes[plate_layout.size].columns}}x{{plate_sizes[plate_layout.size].rows}})
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fi-form-field" v-if="generate_plates_data.plate_layout.name">
                                        <div class="fi-panel special">
                                            <strong>3 plates</strong> will be generated
                                        </div>
                                    </div>
                                    <div class="fi-form-field" v-if="generate_plates_data.plate_layout.name">
                                        <label class="fi-form-label">Plate Names Prefix</label>
                                        <input type="text" class="fi-form-control" v-model="generate_plates_data.prefix" />
                                    </div>

                                </div>

                            </div>

                            <div class="fi-modal-footer fi-buttons-container fi-text-right">
                                <button type="button" class="fi-button fi-default fi-close-modal" @click.prevent="">Cancel</button>
                                <button type="submit" class="fi-button fi-primary" :disabled="!generate_plates_data.plate_layout.name">Generate Plates</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="js/vue.js"></script>
    <script src="js/drag-select.js"></script>

    <script src="js/app.js"></script>

    <script>
        // jQuery(document).on('click', '.well', function () {
        //     var id = parseInt(jQuery(this).text());
        //     if (id) {
        //         jQuery('.treatment-list .treatment-item').each(function() {
        //             var item = jQuery(this);
        //             if (jQuery.trim(item.find('.cell.id').text()) == id) {
        //                 var position = item.position().top - 40;
        //                 app.selected_treatments  = [id.toString()];
        //                 jQuery('.treatments-inner').animate({ scrollTop: position }, 250 );
        //             }
        //         });
        //     }
        // });
        jQuery(document).on('click', '.well', function () {
            var index = parseInt(jQuery(this).index());
            var id = parseInt(app.plates[app.current_plate_index].wells[index].content);
            if (id) {
                var position = jQuery('.treatment-list .treatment-item').eq(id - 1).position().top;
                app.selected_treatments  = [id.toString()];
                jQuery('.treatments-inner').animate({ scrollTop: position - 40 }, 250 );
            }
            else {
                app.selected_treatments  = [];
            }
        });
        jQuery(document).on('click', '.treatment-list .treatment-item', function () {
            var item = jQuery(this);
            var place = jQuery.trim(item.find('.cell.place').text());
            if (place !== 'Unplaced') {
                var id = jQuery.trim(item.find('.cell.id').text());
                var well = app.getObjectByKey(app.plates[app.current_plate_index].wells, 'content', id);
                if (well) {
                    app.selected_wells  = [well.id.toString()];
                }
            }
            else {
                app.selected_wells  = [];
            }
        });
    </script>
</body>
</html>
