[v-cloak] {
  display: none;
}


* {
    user-select: none;
}

.fi-button {
    font-weight: 700;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    border-radius: 0.25rem;
}

/*DEFAULT BUTTONS & PAGING ITEMS*/
.fi-button.fi-default,
.fi-button.fi-default.fi-inverted:not(:disabled):hover,
.fi-button.fi-default.fi-inverted:not(:disabled):focus,
.fi-dropdown-open > .fi-button.fi-default.fi-inverted,
.fi-pagination li > a,
.fi-pagination li > span,
.fi-pagination.fi-inverted li > a:not(:disabled):hover,
.fi-pagination.fi-inverted li > a:not(:disabled):focus {
    color: inherit;
    background-color: #fff;
    border-color: #797979;
    transition: none;
}

    /*HOVER, FOCUS*/
    .fi-button.fi-default:not(:disabled):hover,
    .fi-button.fi-default:not(:disabled):focus,
    .fi-dropdown-open > .fi-button.fi-default,
    .fi-pagination li > a:hover,
    .fi-pagination li > a:focus {
        color: inherit;
        background-color: #f0f0f0;
        border-color: #797979;
    }

    /*ACTIVE*/
    .fi-button.fi-default:not(:disabled):active,
    .fi-button.fi-default.fi-inverted:not(:disabled):active,
    .fi-pagination li > a:active,
    .fi-pagination.fi-inverted li > a:not(:disabled):active {
        color: inherit;
        background-color: #e0e0e0;
        border-color: #797979;
    }

    .fi-button.fi-default.fi-button-icon:not(:disabled):hover,
    .fi-button.fi-default.fi-button-icon:not(:disabled):focus,
    .fi-dropdown-open > .fi-button.fi-default.fi-button-icon {
        background-color: #e5e5e5;
        color: inherit;
        opacity: 1;
    }

    .fi-button.fi-default.fi-button-icon:not(:disabled):active {
        background-color: #d9d9d9;
        color: inherit;
        opacity: 1;
    }

/*PRIMARY BUTTONS (BACKGROUND)*/
.fi-button.fi-primary,
.fi-dropdown-open > .fi-button.fi-primary.fi-inverted,
.fi-tabs .fi-tab-active .fi-tab-button,
.fi-pagination li.fi-selected > a,
.fi-pagination li.fi-selected > span,
.fi-pagination.fi-inverted li.fi-selected > a:hover,
.fi-pagination.fi-inverted li.fi-selected > a:focus {
    background-color: #333;
}

/*PRIMARY BUTTONS (BORDER)*/
.fi-button.fi-primary,
.fi-dropdown-open > .fi-button.fi-primary.fi-inverted,
.fi-pagination li.fi-selected > a,
.fi-pagination li.fi-selected > span,
.fi-pagination.fi-inverted li.fi-selected > a:hover,
.fi-pagination.fi-inverted li.fi-selected > a:focus {
    border-color: #333;
}

    /*PRIMARY BUTTONS :hover & :focus (BACKGROUND)*/
    .fi-nav-accordion ul.fi-root > li.fi-selected > a:hover,
    .fi-nav-accordion ul.fi-root > li.fi-selected > a:focus,
    .fi-nav-accordion ul.fi-root > li.fi-selected > span:hover,
    .fi-nav-accordion ul.fi-root > li.fi-selected > span:focus,
    .fi-button.fi-primary:not(:disabled):hover,
    .fi-button.fi-primary:not(:disabled):focus,
    .fi-button.fi-primary.fi-inverted:not(:disabled):active,
    .fi-dropdown-open > .fi-button.fi-primary,
    .fi-tabs .fi-tab-active .fi-tab-button:focus {
        background-color: #000;
    }

    /*PRIMARY BUTTONS :hover & :focus (BORDER)*/
    /*THEME MAIN COLOR :hover & :focus (BORDER)*/
    .fi-button.fi-primary:not(:disabled):hover,
    .fi-button.fi-primary:not(:disabled):focus,
    .fi-button.fi-primary.fi-inverted:not(:disabled):active,
    .fi-dropdown-open > .fi-button.fi-primary {
        border-color: #000;
    }

    /*PRIMARY BUTTONS :active (BACKGROUND)*/
    .fi-nav-accordion ul.fi-root > li.fi-selected > a:active,
    .fi-nav-accordion ul.fi-root > li.fi-selected > span:active,
    .fi-button.fi-primary:not(:disabled):active {
        background-color: #000;
    }

    /*PRIMARY BUTTONS :active (BORDER)*/
    .fi-button.fi-primary:not(:disabled):active {
        border-color: #000;
    }

.fi-tabs.fi-alt > ul > li > .fi-tab-button:before {
    background-color: #333;
}

/*BUTTON GROUP*/
.button-group {
    display: flex;
}

    .button-group .fi-button {
        border-left-width: 0;
        border-radius: 0;
    }

        .button-group .fi-button:first-child {
            border-left-width: 1px;
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
        }

        .button-group .fi-button:last-child {
            border-top-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
        }

        .button-group .fi-button[disabled] {
            border-right-width: 1px;
        }

.fi-form-control, input[type].fi-form-control, textarea.fi-form-control, select.fi-form-control {
    border-color: #797979;
    border-radius: 0.25rem;
}

.fi-form-control.fi-large, input[type].fi-form-control.fi-large, textarea.fi-form-control.fi-large, select.fi-form-control.fi-large {
    font-size: 1rem;
}

.fi-form-control.error, input[type].fi-form-control.error, textarea.fi-form-control.error, select.fi-form-control.error {
    border-color: #E00B0B;
}

.fi-form-control[disabled], input[type].fi-form-control[disabled], textarea.fi-form-control[disabled], select.fi-form-control[disabled] {
    cursor: default;
}

.fi-form-control.fi-small, input[type].fi-form-control.fi-small, textarea.fi-form-control.fi-small, select.fi-form-control.fi-small {
    font-size: 0.75rem;
}

select.fi-form-control.placeholder {
    color: #999;
}

.fi-form-label input[type="checkbox"] {
    margin-top: 1px;
}

.custom-dropdown {
    position: relative;
}

.fi-form-inline .custom-dropdown {
    display: inline-block;
}

.custom-dropdown.fi-small {
    font-size: 0.75rem;
}

 .custom-dropdown.fi-large {
     font-size: 1rem;
 }

    .custom-dropdown .fi-form-control {
        -webkit-appearance: none;
        appearance: none;
        padding-right: 2.5em;
        font-size: inherit;
        line-height: 1;
    }

    .custom-dropdown:after {
        font-family: 'Font Awesome 5 Pro';
        font-size: 1.25em;
        content: "\f107";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0.75em;
        pointer-events: none;
    }

.fi-modal.fi-full-height .fi-modal-body {
    overflow: hidden;
}

.fi-modal {
    background-color: rgba(0,0,0,0.86);
}

@media (min-width: 40em) {
    .fi-modal {
        padding: 2.5rem;
    }
    .fi-modal.fi-additional-modal {
        padding-top: 3.5rem;
    }
}

.fi-modal-header,
.fi-modal-footer {
    background-color: transparent;
}

.fi-modal-body-inner {
    position: relative;
    height: 100%;
    padding-top: 3.5625rem;
}

.fi-modal-content {
    border-radius: 0.5rem;
}

.fi-modal.fi-full-width {
    overflow: auto;
}

    .fi-modal.fi-full-width .fi-modal-content {
        min-width: 1440px;
    }

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.basic-info-form {
    position: absolute;
    top: 3.5625rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1.5rem;
}

.create-modal .fi-modal-body-inner {
    padding-top: 0;
}

    .fi-modal-body-inner .fi-tabs {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

        .fi-modal-body-inner .fi-tabs ul {
            margin: 0;
            padding: 0 1.5rem;
        }

.fi-modal-body-inner .fi-tabs.method-tabs ul {
    padding: 0 1rem;
    padding-right: 15.5625rem;
}

.top-right-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.5rem;
    display: flex;
    align-items: center;
}

.fi-button.more-button {
    padding-left: 0;
    padding-right: 0;
    width: 1.828125rem;
}

.fi-dialog-modal .fi-modal-body {
    font-size: 0.875rem;
}

    .fi-dialog-modal .fi-modal-body ul {
        margin: 0.75rem 0;
        padding-left: 1.375rem;
    }

        .fi-dialog-modal .fi-modal-body ul li + li {
            margin-top: 0.75rem;
        }

    .fi-dialog-modal .fi-modal-body *:last-child {
        margin-bottom: 0;
    }

.fi-notify {
    clear: both;
    line-height: 1.5;
    padding: 1rem 1.5rem;
    padding-right: 3.75rem;
    font-size: 0.875rem;
    color: #f2f2f2;
    border: none;
    border-radius: 0.25rem;
}
    .fi-notify:before {
        display: none;
    }

    .notify-content {
        display: flex;
    }

    .notify-icon {
        font-size: 1.25em;
        margin-top: 0.125em;
        margin-right: 0.5em;
    }

    .fi-notify .fi-close-button {
        position: absolute;
        top: 0;
        right: 0;
        width: 2.5rem;
        height: 2.25rem;
        margin: 0.53125rem;
        padding: 0;
        font-size: 1.125rem;
    }

.fi-notify.fi-default {
    background-color: #141414;
}

.fi-notify.fi-danger {
    background-color: #F13A30;
}

.plate-layout-container {
    height: 100%;
    flex-grow: 1;
    display: flex;
}

.plate-layout-container.experiment {
    position: relative;
    padding-top: 2.90625rem;
}

.fi-tabs.fi-alt > ul > li > .fi-tab-button {
    outline: none;
}

.fi-tabs.fi-alt > ul > li.fi-tab-active > .fi-tab-button {
    font-weight: 700;
}

.fi-tabs.fi-alt > ul > li {
    margin-top: 0;
}

.fi-tabs.fi-alt > ul > li + li {
    margin-left: 0;
}

.fi-tabs.fi-alt > ul > li > .fi-tab-button {
    padding: 1.125em 1em;
}

.header-tabs.fi-tabs.fi-alt > ul > li > .fi-tab-button {
    font-size: 1rem;
    padding: 1.25rem 1rem;
}

.fi-close-button.circle-close {
    position: absolute;
    margin: 0;
    padding: 0;
    top: -0.75rem;
    right: -0.75rem;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #797979;
    opacity: 1;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-drag-box-component] {
    z-index: 4;
}

.treatments,
.plates {
    height: 100%;
}

.create-modal .plates {
    border: none;
}

.treatments {
    display: flex;
    flex-direction: column;
    width: 42rem;
}

.filters-actions {
    flex-shrink: 0;
}

.filters {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #ddd;
}

.filters * + .fi-form-field,
.filters .fi-row + .fi-row {
    margin-top: 0.75rem;
}

.filters-header {
    margin-bottom: 0.75rem;
}

    .filters-header .fi-button.clear-all-filters {
        float: right;
        font-weight: 400;
        text-decoration: underline;
    }

    .filters-header h5 {
        margin: 0;
    }

.filters-multiple {
    max-height: 9.3125rem;
    overflow: auto;
}

.filter-section {
    display: flex;
    align-items: flex-start;
    padding: 0.25rem;
}

.fi-dropdown-content .filter-section {
    padding: 0.25rem 0.75rem;
    padding-right: 0.875rem;
}

.filter-section + .filter-section {
    border-top: 1px solid #ddd;
}

.fi-panel.filters-multiple {
    padding: 0;
}

.filter-section .fi-close-button.remove-all {
    font-weight: 300;
    margin: 0;
    margin-left: 0.25rem;
}

.filter-trigger .fi-button.fi-dropdown-trigger {
    display: flex;
    align-items: center;
    width: 7.25rem;
    padding: 0 0.5rem;
    height: 1.75rem;
    text-align: left;
}

    .filter-trigger .fi-button.fi-dropdown-trigger .label {
        flex-grow: 1;
    }

    .filter-trigger .fi-button.fi-dropdown-trigger i {
        min-width: 0;
        margin-left: 0.375rem;
    }

.fi-dropdown-content.filter-trigger-content {
    margin: 0.25rem 0;
}

.filter-trigger-content .search-wrapper {
    padding: 0.75rem;
    border-bottom: 1px solid #ddd;
}

    .filter-trigger-content .search-wrapper .fi-search {
        font-size: 0.8125rem;
    }

    .filter-trigger-content .select-items {
        max-height: 16rem;
        overflow: auto;
    }

.selected-filters {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 1.75rem;
    margin-left: 0.25rem;
    padding-left: 0.375rem;
}

    .selected-filters:before {
        content: "";
        position: absolute;
        top: -0.25rem;
        bottom: -0.25rem;
        left: 0;
        width: 1px;
        background-color: #ddd;
    }

    .selected-filters .fi-badge {
        -webkit-appearance: none;
        appearance: none;
        display: flex;
        align-items: center;
        margin: 0.125rem;
        padding: 0.25em 0.75em;
        font-weight: 400;
        border: none;
        border-radius: 0.25rem;
    }

        .selected-filters .fi-badge:hover,
        .selected-filters .fi-badge:focus {
            background-color: #797979;
        }

        .selected-filters .fi-badge i {
            margin-left: 0.375rem;
            color: #aaa;
            font-size: 0.875rem;
            font-weight: 300;
        }

            .selected-filters .fi-badge:hover i,
            .selected-filters .fi-badge:focus i {
                color: #fff;
            }

.fi-grid-margin .fi-column {
    margin-bottom: 1.5rem;
}

.small-spacing .fi-row {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.small-spacing .fi-column {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.filters .fi-form-control,
.filters input[type].fi-form-control,
.filters textarea.fi-form-control,
.filters select.fi-form-control {
    height: 2.4375em;
    padding: 0.25em 0.75em;
    font-size: 0.75rem;
}

.filters .custom-dropdown select.fi-form-control {
    padding-right: 2.5em;
}

.fi-form.fi-form-inline .fi-form-field {
    margin-right: 0.5rem;
    margin-bottom: 0;
}

.fi-form.fi-form-inline.large-spacing .fi-form-field {
    margin-right: 1.5rem;
}

    .fi-form.fi-form-inline.large-spacing .fi-form-field:last-child {
        margin-right: 0;
    }

.fi-form.fi-form-inline .fi-form-text {
    height: 2.4375em;
    margin: 0;
    padding: 0.5em 0;
    border: 1px solid transparent;
}

.actions {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
}

    .actions .fi-form {
        flex-grow: 1;
    }

    .actions .fi-form + .fi-form {
        flex-grow: 0;
        flex-shrink: 0;
    }

.treatments-outer {
    display: flex;
    height: 100%;
    overflow: hidden;
    padding-left: 1rem;
}

.treatments-inner {
    height: 100%;
    flex-grow: 1;
    overflow: auto;
    border: 1px solid #ddd;
    border-bottom: none;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.treatment-counts {
    padding: 0.75rem 1rem;
    border-top: 1px solid #ddd;
}

    .treatment-counts span {
        display: inline-block;
        margin-right: 0.75rem;
    }

        .treatment-counts span:last-child {
            margin-right: 0;
        }

.placement-buttons {
    flex-shrink: 0;
    width: 8.4375rem;
    padding: 0 1rem;
}

.plates {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ddd;
}

.drag-select-container {
    display: flex;
    flex-wrap: wrap;
}

[data-drag-box-component] {
    z-index: 2;
}

.treatment-list {
    display: block;
    min-height: 100%;
    padding-top: 2.5rem;
    margin-top: -2.5rem;
}

.treatment-list-container {
    display: inline-block;
    min-width: 100%;
    /* height: 100%; */
}

.treatment-item {
    display: flex;
    flex-wrap: nowrap;
}

.treatment-item.placed {
    color: #a1a1a1;
}

.treatment-item + .treatment-item {
    border-top: 1px solid #ddd;
}

.treatment-item.treatments-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #ddd;
}

.treatment-item .cell {
    width: 5.75rem;
    height: 2.0625rem;
    padding: 0.5rem 0.75rem;
    font-size: 0.75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.treatments-header .cell {
    font-weight: 700;
    user-select: none;
}

.treatment-item .id {
    width: 3rem;
    text-align: center;
}

.treatment-item .role {
    width: 4.75rem;
}

.treatment-item .rate {
    width: 3.5rem;
}

.treatment-item .condition-set {
    width: 7rem;
}

.fi-text-light, .fi-text-light *, a.fi-text-light *, .fi-text-light-hover:not([disabled]):hover, .fi-text-light-hover:not([disabled]):focus {
    color: #A1A1A1;
}

.fi-button[disabled], .fi-pagination li.fi-disabled > a, .fi-pagination li.fi-disabled > span {
    opacity: 1 !important;
    color: #A1A1A1 !important;
    background-color: #e5e5e5 !important;
    border-color: #e5e5e5 !important;
    cursor: default;
}

.selection-count {
    padding: 0 0.75rem;
    line-height: 1.25;
}

.bug-number {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.selected {
    background-color: #e1f5ff;
}

a.fi-close-button, button.fi-close-button {
    font-family: 'Font Awesome 5 Pro';
}

.plates-nav {
    flex-shrink: 0;
    display: flex;
    flex-wrap: nowrap;
    padding: 0.75rem;
}

.plate-nav-item-delete,
.add-plate {
    background-color: transparent;
    border: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
}

.plate-nav-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 1.25rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid #797979;
    border-radius: 0.25rem;
}

.plate-nav-item.has-results {
    box-shadow: 0 0 4px 3px #00a5ff;
    border-color: transparent;
}

.plate-nav-item-button,
.fi-close-button.plate-nav-item-delete {
    position: absolute;
}

.fi-badge {
    background-color: #333;
    color: #fff;
}

.plate-nav-item .well-result-count {
    position: absolute;
    top: -0.625rem;
    font-size: 0.625rem;
}

.plate-nav-item-button {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    outline: none;
}

.fi-close-button.plate-nav-item-delete {
    margin: 0;
    top: -0.5rem;
    right: -0.5rem;
    opacity: 1;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    width: 1.125rem;
    height: 1.125rem;
    padding: 0;
    font-size: 0.6875rem;
    line-height: 1.125rem;
    box-shadow: inset 0 0 0 1px #4a4a4a;
}

    .fi-close-button.plate-nav-item-delete:hover,
    .fi-close-button.plate-nav-item-delete:focus {
        background-color: #ff3302;
        box-shadow: inset 0 0 0 1px #ff3302;
        color: #fff;
    }

.plate-thumb {
    width: 5.875rem;
    height: 3.3125rem;
    margin-bottom: 0.5rem;
}

.plate-nav-item.current:before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 4px solid #333;
    border-radius: 0.25rem;
}

.plate-info {
    max-width: 12rem;
}

    .plate-info h5 {
        margin: 0;
        font-size: 0.75rem;
        line-height: inherit;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .plate-nav-item .plate-counts {
        margin-top: 0.25rem;
        font-size: 0.6875rem;
    }

    .plate-header .plate-counts {

    }

.add-plate {
    width: 5.875rem;
    height: 3.3125rem;
    padding: 0;
    border: 2px dashed #333;
    color: #333;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1;
}

    .add-plate i {
        display: block;
        margin-bottom: 0.375rem;
        font-size: 1rem;
    }

.plate-header {
    flex-shrink: 0;
    display: flex;
    flex-wrap: nowrap;
    padding: 0.75rem;
    border-top: 1px solid #ddd;
}

.create-header {
    padding: 1rem 1.5rem;
    border: none;
    align-items: center;
}

.plate-header-info {
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

    .plate-header-info h4 {
        max-width: 14rem;
        margin: 0;
        margin-right: 2rem;
        line-height: inherit;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .plate-header-info .barcode {
        margin-right: 1.5rem;
    }

    .plate-header-info .plate-counts {
        margin-right: 0.375rem;
    }

        .plate-header-info .plate-counts span {
            display: inline-block;
            margin-right: 0.75rem;
        }

        .plate-nav-item .plate-counts span {
            display: inline-block;
            margin-right: 0.375rem;
        }

.create-container {
    flex-grow: 1;
    position: absolute;
    top: 6.890625rem;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    border-top: 1px solid #ddd;
}

.plate-exp-container {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #ddd;
}

.plate-container {
    flex-grow: 1;
    position: relative;
    background-color: #fff;
    overflow: auto;
}

.plate-container.create {
    flex-grow: 0;
}

.plate-outer {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
}

.plate-container.create .plate-outer {
    position: relative;
    display: inline-block;
}

    .plate-outer .drag-select-container {
        display: block;
        flex-grow: 1;
        height: 100%;
        padding-top: 2.5rem;
        margin-top: -2.55rem;
        padding-left: 2.75rem;
        padding-right: 0.625rem;
        margin-left: -2.75rem;
    }

.plate-top-bar {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    align-items: flex-start;
}

.plate-corner {
    position: sticky;
    top: 0;
    left: 0;
    padding: 0.625rem;
    width: 2.75rem;
    height: 2.75rem;
    background-color: #fff;
    z-index: 3;
}

.plate-select-all {
    border-style: solid;
    border-width: 1px;
    width: 100%;
    height: 100%;
}

    .plate-corner:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0.625rem;
        right: 0.625rem;
        height: 1px;
        background-color: #797979;
    }

    .plate-corner:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0.625rem;
        bottom: 0.625rem;
        width: 1px;
        background-color: #797979;
    }

.plate-columns {
    background-color: #fff;
    z-index: 1;
    display: flex;
    padding-top: 0.625rem;
}

.plate-select-all,
.plate-column,
.plate-row {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    user-select: none;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #797979;
}

.plate-column {
    flex-shrink: 0;
    height: 1.5rem !important;
    line-height: 1.5rem;
    font-size: 0.75rem !important;
    text-align: center;
    border-left-width: 0;
}

.plate-select-all:hover,
.plate-column:hover,
.plate-column.hover,
.plate-row:hover,
.plate-row.hover,
.well:hover .well-inner {
    background-color: #d4f0ff;
}


.plate-container.view-mode .plate-column.hover,
.plate-container.view-mode .plate-row.hover {
    background-color: #f2f2f2;
}

.plate-container.view-mode .plate-select-all:hover,
.plate-container.view-mode .plate-column:hover,
.plate-container.view-mode .plate-row:hover,
.plate-container.view-mode .well:hover .well-inner {
    background-color: transparent;
}

.plate-select-all.selected,
.plate-column.selected,
.plate-row.selected {
    background-color: #8bd6ff;
}

.plate-inner {
    position: relative;
    display: flex;
    align-items: flex-start;
    height: 100%;
}

.plate-clear-selection {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.back-drop {
    display: none;
    position: absolute;
    top: 0;
    left: 1.5rem;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
    /* backdrop-filter: blur(3px); */
    pointer-events: none;
}

.plate-inner.filter-match .back-drop {
    display: block;
}

.plate-inner.filter-match .well.filter-match {
    /* z-index: 2; */
}

.plate-rows {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding-left: 0.625rem;
    margin-right: 0.625rem;
    background-color: #fff;
}

.plate-row {
    width: 1.5rem !important;
    font-size: 0.75rem !important;
    border-top-width: 0;
}

.well {
    position: relative;
    float: left;
}

.well-inner {
    width: 1.5rem;
    margin: 0.5rem;
    border-radius: 50%;
    font-size: 1.125rem;
    background-color: #fff;
    border: 1px solid #797979;
}

.well-inner.role-set {
    border-color: #333;
    border-width: 3px;
}

.well-inner.selected,
.well:hover .well-inner.selected {
    background-color: #8bd6ff;
    box-shadow: 0 0 5px 1px #0062bd;
}

.well.filter-match .well-inner {
    box-shadow: 0 0 3px 4px #00a5ff;
}

.well-inner.highlighted .well-content {
    box-shadow: 0 0 0px 3px #000000;
}

.well-inner.role-set.highlighted .well-content {
    box-shadow: 0 0 0px 6px #000000;
}

.well.disabled {
    opacity: 0.25;
}

    .well.disabled:hover .well-inner {
        background-color: transparent;
    }

.well-content,
.well-content span {
    width: 100%;
    height: 100%;
}

.well-content {
    border-radius: 50%;
}

    .well-content span {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    .well-info {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

.fi-tooltip {
    background-color: #000;
    max-width: none;
    border-radius: 0.375rem;
    -webkit-transition: all 0.1s;
   -moz-transition: all 0.1s;
   -o-transition: all 0.1s;
   transition: all 0.1s;
}

.fi-tooltip.fi-north > span,
.fi-tooltip.fi-south > span,
.fi-tooltip.fi-west > span,
.fi-tooltip.fi-east > span {
    border-top-color: #000;
}

.fi-tooltip.complete {
    box-shadow: 0 0 0 4px #00cc00;
}

.fi-tooltip.not-complete {
    box-shadow: 0 0 0 4px #ff3302;
}

.fi-list.well-info-content {
    padding: 0.25rem;
    text-align: left;
    font-size: 0.75rem;
}

    .fi-list.well-info-content li {
        display: flex;
        align-items: center;
    }

    .fi-list.well-info-content li + li {
        margin-top: 0.375rem;
    }

    .fi-list.well-info-content .label {
        margin-right: 0.25rem;
    }

    .fi-list.well-info-content .color-key {
        white-space: nowrap;
        font-weight: 400;
        margin: 0;
    }

    .fi-list.well-info-content .color-key .circle {
        margin-right: 0.25rem;
    }

.empty {
    position: relative;
    background-color: #fff;
}

    .empty .xl,
    .empty .xr {
        display: flex;
        align-items: center;
        position: absolute;
        width: auto;
        height: auto;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
    }

    .empty .xl:before,
    .empty .xr:before {
        display: block;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #333;
    }

    .empty .xl:before {
        transform: rotate(45deg);
    }

    .empty .xr:before {
        transform: rotate(-45deg);
    }

    .well-inner.selected .well-content span {
        background-color: transparent !important;
    }


.plate-outer.size_384 .drag-select-inner {
    width: 53.1125rem;
}

    .size_384 .well-inner {
        width: 1.7125rem;
        height: 1.7125rem;
        margin: 0.25rem;
        font-size: 0.6875rem;
    }

    .size_384 .plate-column {
        width: 2.2125rem;
    }

    .size_384 .plate-row {
        height: 2.2125rem;
    }

.plate-outer.size_96 .drag-select-inner {
    width: 53.1125rem;
}

    .size_96 .well-inner {
        width: 3.425rem;
        height: 3.425rem;
        margin: 0.5rem;
        font-size: 0.6875rem;
    }

    .size_96 .plate-column {
        width: 4.425rem;
    }

    .size_96 .plate-row {
        height: 4.425rem;
    }

.plate-outer.size_48 .drag-select-inner {
    width: 53.1125rem;
}

    .size_48 .well-inner {
        width: 5.6390625rem;
        height: 5.6390625rem;
        margin: 0.5rem;
        font-size: 0.6875rem;
    }

    .size_48 .plate-column {
        width: 6.6390625rem;
    }

    .size_48 .plate-row {
        height: 6.6390625rem;
    }

.plate-outer.size_24 .drag-select-inner {
    width: 53.1125rem;
}

    .size_24 .well-inner {
        width: 7.85rem;
        height: 7.85rem;
        margin: 0.5rem;
        font-size: 0.6875rem;
    }

    .size_24 .plate-column {
        width: 8.85rem;
    }

    .size_24 .plate-row {
        height: 8.85rem;
    }

.color-keys {
    flex-shrink: 0;
    display: flex;
    padding: 0.75rem;
    border-top: 1px solid #ddd;
}

.color-keys-inner {
    display: flex;
}

.color-key {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    font-size: 0.75rem;
    line-height: 1.4;
}

.color-key-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.1s;
}

    .color-key-button:hover {
        opacity: 0.75;
    }

    .color-key.none .color-key-button {
        color: #b4b4b4;
    }

        .color-key.none .color-key-button {
            cursor: default;
        }

        .color-key.none .color-key-button:hover,
        .color-key.active .color-key-button {
            opacity: 1;
        }

.color-key.active {
    font-weight: 700;
}

    .color-key .circle {
        flex-shrink: 0;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        margin-right: 0.375rem;
        border: 2px solid #333;
    }

    .color-key .circle.unset {
        border: 1px solid #797979;
    }

    .color-key.active .circle {
        box-shadow: 0 0 0px 2px #000000;
    }


.plates-grid-container {
    width: 100%;
    position: relative;
    padding-top: 8.265625rem;
}

    .plates-grid-container .plates-nav {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .plates-grid-container .plate-header {
        position: absolute;
        top: 4.9375rem;
        left: 0;
        right: 0;
        border-bottom: none;
    }

.plates-grid-inner {
    position: relative;
    height: 100%;
    overflow: auto;
}

.plates-grid-scroll {
    display: inline-block;
    min-width: 100%;
}

    .fake-border {
        position: sticky;
        left: 0;
        right: 0;
        border-top: 1px solid #ddd;
    }

    .fake-border.left {
        right: auto;
        border-top: none;
        border-left: 1px solid #ddd;
    }

    .plates-grid-inner thead th,
    .plates-grid-inner tbody th {
        background-color: #fff;
        z-index: 2;
    }

    .plates-grid-inner thead th {
        position: sticky;
        top: 2.125rem;
        z-index: 1;
    }

    .plates-grid-inner thead th:first-child,
    .plates-grid-inner thead th:nth-child(2) {
        position: sticky;
        left: 0;
        z-index: 3;
    }

    .plates-grid-inner thead th:nth-child(2) {
        left: 1.75rem;
    }

        .plates-grid-inner thead th:nth-child(2)::after {
            content: "";
            position: absolute;
            top: -1px;
            left: -1px;
            right: -1px;
            bottom: -1px;
            border: 1px solid #ddd;
            z-index: 1;
        }

    .plates-grid-inner thead .row-col-id th {
        top: 0;
    }

    .plates-grid-inner tbody th {
        position: sticky;
        left: 1.75rem;
    }

        .plates-grid-inner thead th::after {
            content: "";
            position: absolute;
            top: -1px;
            left: -1px;
            right: -1px;
            bottom: -1px;
            border: 1px solid #ddd;
            z-index: -1;
        }

        .plates-grid-inner tbody th:first-child::after {
            content: "";
            position: absolute;
            top: -1px;
            left: -1px;
            right: -1px;
            bottom: -1px;
            border: 1px solid #ddd;
            z-index: 1;
        }

    .plates-grid-inner th.row-col-id {
        left: 0;
    }

    .plates-grid-inner th,
    .plates-grid-inner td {
        min-width: 10.6875rem;
        vertical-align: middle;
    }

    .plates-grid-inner th {
        white-space: nowrap;
    }

    .plates-grid-inner th.row-col-id,
    .plates-grid-inner .row-col-id th {
        min-width: 0;
        text-align: center;
        font-size: 0.75rem;
        color: #a1a1a1;
    }

    .plates-grid-inner td.ctrl {
        background-color: #00cc00;
    }

    .plates-grid-inner td.blank {
        background-color: #999999;
    }

.plates-grid-inner .fi-table .fi-dropdown {
    display: block;
    height: 2.4375rem;
    margin: -0.5rem;
}

.plates-grid-inner .fi-table tbody .fi-dropdown {
    height: 3.75rem;
}

    .plates-grid-inner .fi-table tbody .fi-dropdown:after {
        position: absolute;
        content: "";
        top: 0;
        right: -1px;
        bottom: 0;
        border-left: 1px solid #ddd;
    }

    .plates-grid-inner .fi-table .fi-dropdown .fi-button-icon {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        font-size: 1rem;
        font-weight: 700;
        text-align: left;
    }

    .plates-grid-inner .fi-table .fi-dropdown .fi-button-icon .fi-dropdown-title {
        flex-grow: 1;
    }

        .plates-grid-inner .fi-table .fi-dropdown .fi-button-icon .fi-dropdown-title .role {
            display: none;
        }

    .plates-grid-inner .fi-table .fi-dropdown .fa-angle-down {
        margin-left: 0.375rem;
    }

.fi-dropdown-content {
    font-size: 0.8125rem;
    font-weight: 400;
    border-radius: 0.25rem;
}

.fi-dropdown-trigger .fa-angle-down {
    font-size: 1.25em;
}

.fi-dropdown-trigger.fi-full-width {
    display: flex;
    align-items: center;
    padding: 0.5em 0.75em;
    font-weight: 400;
}

    .fi-dropdown-trigger.fi-full-width .fi-dropdown-title {
        flex-grow: 1;
        text-align: left;
    }

.fi-dropdown-content.fi-full-width .search-wrapper {
    padding: 0.75rem;
}

.fi-dropdown-content.fi-full-width .filter {
    padding: 0.75rem;
    border-top: 1px solid #ddd;
}

.fi-dropdown-content.fi-full-width .filter + ul {
    max-height: 30rem;
    overflow: auto;
    border-top: 1px solid #ddd;
}

.fi-dropdown-content.fi-full-width .filters-multiple {
    border-radius: 0;
    border-left: none;
    border-right: none;
}

.fi-dropdown-content.fi-full-width .filters-multiple + ul {
    max-height: 32rem;
    overflow: auto;
}

.fi-dropdown-header,
.fi-no-spacing li + .fi-dropdown-header {
    background-color: #eaeaea;
    padding: 0.5rem 1rem;
    font-weight: 700;
}

.fi-dropdown-content.fi-full-width .fi-dropdown-header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.fi-dropdown-content.fi-full-width > ul > li > a,
.fi-dropdown-content.fi-full-width > ul > li > span {
    padding: 0.75rem;
}

.fi-dropdown-content.fi-full-width li.active a,
.fi-dropdown-content.fi-full-width li.active a:hover,
.fi-dropdown-content.fi-full-width li.active a:focus,
.fi-dropdown-content.fi-full-width li.active a:active {
    background-color: #333;
    color: #fff;
}

.fi-no-spacing li + .fi-dropdown-header {
    margin-top: 0.75rem;
    border-top: 1px solid #ddd;
}

.fi-no-spacing .fi-dropdown-header + li {
    border-top: none;
}

.fi-panel {
    background-color: #fff;
    border-radius: 0.25rem;
}

.fi-panel.special {
    padding: 0.75rem;
    background-color: #e5e5e5;
    border: none;
    border-radius: 0.25rem;
}

.fi-panel.special.alert {
    display: flex;
    align-items: center;
}

    .fi-panel.special.alert i {
        font-size: 1.125rem;
    }

    .fi-panel.special.alert .fi-button.fi-default {
        margin-left: 0.75rem;
    }

.plates-grid-inner .fi-form.fi-form-horizontal .fi-form-label,
.plates-grid-inner .fi-form.fi-form-horizontal .fi-form-text {
    padding-top: 0;
    margin-top: 0;
}

.plates-grid-inner .fi-form.fi-form-horizontal .fi-form-text {
    white-space: nowrap;
}

    .plates-grid-inner .fi-form.fi-form-horizontal .fi-form-field {
        padding-left: 6rem;
    }

    .plates-grid-inner .fi-form.fi-form-horizontal * + .fi-form-field {
        margin-top: 0.25rem;
    }

    .plates-grid-inner .fi-form.fi-form-horizontal .fi-form-label {
        width: 6rem;
        margin-left: -6rem;
    }

.add-cell-values {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #08a5ff;
}

    .add-cell-values i {
        display: block;
        margin-bottom: 0.5rem;
    }


.option-3-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

    .option-3-container .header {
        flex-shrink: 0;
    }

    .option-3-container .plate-layout-container {
        flex-grow: 1;
        height: auto;
        overflow: hidden;
    }

    .option-3-container .plate-container {
        border: none;
    }

    .option-3-container .plates {
        border-top: 1px solid #ddd;
    }

    .option-3-container .treatments-inner {
        margin-right: 1rem;
    }

    .option-3-container .filters {
        border-top: none;
    }

    .option-3-container .treatment-item .role,
    .option-3-container .treatment-item .rate {
        width: 5.25rem;
    }

    .option-3-container .fi-form.fi-form-inline .fi-form-field {
        margin-right: 1.25rem;
    }

    .option-3-container .fi-form.fi-form-inline .fi-form-field .fi-form-control {
        width: 10rem;
        height: 1.828125rem;
    }

    .option-3-container .treatment-item .cell.place {
        width: 3.5rem;
    }

.option-3-container .cell.blank {
    width: auto;
    flex-grow: 1;
    text-align: center;
}

.create-header .fi-form.fi-form-inline {
    display: flex;
    height: 100%;
    align-items: center;
}

.layout-mode {
    position: absolute;
    top: 3.5625rem;
    left: 0;
    right: 0;
    display: flex;
    padding: 0.75rem 1.5rem;
}

    .layout-mode .fi-form.fi-form-inline {
        display: flex;
        align-items: center;
    }

    .layout-mode .alert {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0.375rem 0.75rem;
    }

.fi-form-field.separator {
    border-left: 1px solid #ddd;
    height: 100%;
}

.plate-header .fi-form-field.separator {
    height: 2.133125rem;
}

    .layout-mode .main {
        flex-grow: 1;
    }

        .layout-mode .fi-form.fi-form-inline .fi-form-field {
            display: flex;
            align-items: center;
            height: 100%;
        }

        .layout-mode .fi-form.fi-form-inline .fi-form-label {
            margin-top: 0;
            padding-top: 0;
        }

        .layout-mode .fi-form.fi-form-inline .value {
            margin-right: 0.75rem;
        }

    .layout-mode .plate-counts {
        display: flex;
        align-items: center;
    }

    .layout-mode .plate-counts span {
        margin-left: 0.75rem;
    }

        .layout-mode .fi-form.fi-form-inline .fi-form-control[type="number"] {
            width: 4rem;
        }

.keymap {
    flex-grow: 1;
    padding: 0.875rem 1.5rem;
    border-left: 1px solid #ddd;
    overflow: auto;
}

    .keymap h5 {
        font-weight: 700;
    }

    .keymap .fi-list {
        margin-top: -0.375rem;
    }

    .keymap .color-key {
        margin: 0;
        white-space: nowrap;
    }

    .keymap .color-key-button {
        padding: 0.375rem 0;
    }


/*EMPTY TEMPLATE*/
.empty-template {
    padding: 0.75rem;
    text-align: center;
    font-size: 1.25rem;
    color: #b4b4b4;
}

.empty-template-icon {
    display: block;
    font-size: 3.5rem;
    margin-bottom: 0.75rem;
    color: #d4d4d4;
}

.empty-template-button {
    margin-top: 1.25rem;
}

.plate-layout-container .empty-template,
.option-3-container .empty-template {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ddd;
}

.generate_plates_modal .fi-modal-content {
    max-width: 52rem;
}

.blurb {
    display: flex;
    align-items: flex-start;
}

    .blurb .blurb-media {
        margin-right: 0.625rem;
    }

    .blurb .blurb-content {

    }

.fi-dropdown-content.play-layout-selector > ul > li {
    position: relative;
}

    .fi-dropdown-content.play-layout-selector > ul > li:not(.fi-dropdown-header):hover {
        background-color: #f6f6f6;
    }

    .fi-dropdown-content.play-layout-selector > ul > li > a {
        padding-right: 3rem;
    }

    .fi-dropdown-content.play-layout-selector > ul > li > a:hover,
    .fi-dropdown-content.play-layout-selector > ul > li > a:focus,
    .fi-dropdown-content.play-layout-selector > ul > li > a:active {
        background-color: transparent;
    }

    .fi-dropdown-content.play-layout-selector .info-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        padding: 1rem;
        font-size: 1rem;
    }

    .fi-dropdown-content.play-layout-selector li.active .info-button {
        color: #fff;
    }

    .fi-dropdown-content.play-layout-selector .info-button:hover,
    .fi-dropdown-content.play-layout-selector .info-button:focus {
        opacity: 1;
    }

        .fi-dropdown-content.play-layout-selector .info-button:hover i,
        .fi-dropdown-content.play-layout-selector .info-button:focus i {
            font-weight: 700;
        }

.layout-blurb .thumb {
    width: 12.625rem;
    border: 1px solid #797979;
    background-color: #f2f2f2;
    background-image: url('images/layout_thumb.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.layout-blurb .thumb:before {
    content: "";
    display: block;
    padding-top: 66.66667%;
}

.layout-blurb h4 {
    margin-bottom: 0.625rem;
}

.layout-blurb .meta {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.875rem;
}

    .layout-blurb .meta span {
        white-space: nowrap;
        margin-right: 1.25rem;
        margin-bottom: 0.625rem;
        font-size: 0.8125rem;
    }

    .layout-blurb .meta span[data-fi-tooltip] {
        text-decoration: underline;
    }

.layout-blurb .method-default {
    margin-top: 0.25rem;
}

    .layout-blurb .method-default h5 {
        margin-bottom: 0.25rem;
        font-size: 0.8125rem;
    }

    .layout-blurb .method-default .tags {
        display: flex;
        flex-wrap: wrap;
    }

        .layout-blurb .method-default .tags .fi-badge {
            margin-right: 0.25rem;
            font-weight: 400;
        }


/*BLOCK LINKS*/
.fi-modal .block-links {
    padding: 0;
    border-radius: 0.25rem;
    overflow: hidden;
    border: 1px solid #ddd;
}

    .fi-modal .block-links li {
        border-color: #ddd;
    }

    .block-links li + li:not(.fi-divider) {
        margin: 0;
    }

    .block-links a,
    .block-links a.fi-list-link-wrapper {
        position: relative;
        display: block;
        padding: 0.875rem 1rem;
        padding-right: 2.6875rem;
        color: inherit;
        text-decoration: none;
    }

    .block-links.has-icons a {
        padding-left: 2.6875rem;
    }

        .fi-modal .block-links a:hover,
        .fi-modal .block-links a:focus {
            background-color: #f2f2f2;
        }

        .fi-modal .block-links a:active {
            background-color: #dedede;
        }

    .block-links .block-icon {
        float: left;
        margin-left: -1.75rem;
        margin-top: 0.25rem;
        width: 1.125rem;
        text-align: center;
        font-weight: 400;
    }

    .block-links .more-chevron {
        position: absolute;
        top: 50%;
        right: 1rem;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .block-links.large.has-icons a {
        padding-left: 4.125rem;
    }

    .block-links.large .block-icon {
        float: left;
        margin-left: -2.875rem;
        margin-top: 0.0625rem;
        width: 1.125rem;
        text-align: center;
        font-weight: 400;
        font-size: 1.625rem;
    }

    .block-links.large .more-chevron {
        font-size: 0.8125rem;
    }


.fi-search:after {
    right: 0.75em;
}

.original-values .fi-list-line li:last-child,
.selected-users .fi-list-line li:last-child {
    border-bottom: 1px solid #ddd;
}


/*ADD MEMBERS*/
.add-users-container {
    position: relative;
}

    .add-users-container .selected-users .remove-all,
    .add-users-container .browse-users .deselect-all,
    .add-users-container .browse-users.all-selected .select-all {
        display: none;
    }

    .add-users-container .browse-users.all-selected .deselect-all,
    .add-users-container .selected-users.has-items .remove-all {
        display: block
    }

    .selected-items .selected-member {
        position: relative;
        cursor: default;
    }

        .selected-member .fi-close-button {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;

        }

            .selected-member .fi-close-button:before {
                position: absolute;
                width: 1.25rem;
                height: 1.25rem;
                line-height: 1.25;
                font-size: 1rem;
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                font-family: 'Font Awesome 5 Pro';
                content: "\f057";
                color: #4a4a4a;
            }

    .select-item {
        position: relative;
        display: block;
        padding: 0.625rem 0.75rem;
        -webkit-transition: background-color 0.2s;
        -moz-transition: background-color 0.2s;
        -o-transition: background-color 0.2s;
        transition: background-color 0.2s;
    }

    .check-list li {
        position: relative;
    }

    .check-list .select-item {
        padding-left: 2.5rem;
    }

    .check-list a.select-item.selected {
        background-color: transparent;
    }

        .check-list a.select-item:hover,
        .check-list a.select-item:focus,
        .check-list a.select-item.selected:hover {
            background-color: rgba(0,0,0,0.05);
        }



        .check-list a.select-item:before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-family: 'Font Awesome 5 Pro';
            content: "\f0c8";
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            left: 0.75rem;
            font-size: 1.125rem;
            color: #797979;
        }

            .check-list a.select-item:hover:before,
            .check-list a.select-item:focus:before,
            .check-list a.select-item.selected:before {
                color: inherit;
            }

        .check-list a.select-item.selected:before {
            content: "\f14a";
            font-weight: 700;
        }

        .check-list .disabled {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255,255,255,0.5);
        }

    @media (max-width: 59.9999em) {
        .add-users-container {
            height: 100%;
        }

            .add-users-container .suggested-contexts {
                display: none;
            }

            .add-users-container .search-users,
            .add-users-container .selected-users,
            .add-users-container .browse-users {
                position: absolute;
                left: 0;
                right: 0;
            }

            .add-users-container .search-users,
            .add-users-container .browse-users {
                border-style: solid;
                border-width: 1px;
                border-left-width: 0;
                border-right-width: 0;
            }

            .add-users-container .search-users {
                top: 0;
                border-top-width: 0;
            }

            .add-users-container .selected-users {
                top: 5.25rem;
            }

            .add-users-container .browse-users {
                top: 12.125rem;
                bottom: 0;
                border-bottom-width: 0;
            }

            .selected-items {
                position: relative;
                height: 4.625rem;
                overflow: hidden;
            }

            .selected-items-inner {
                white-space: nowrap;
                padding-bottom: 100px;
                overflow-x: auto;
            }

                .selected-items li {
                    display: inline-block;
                    width: 4rem;
                    padding: 0.5rem 0;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

            .selected-items .fi-blurb-media,
            .selected-items .fi-blurb-media + .fi-blurb-content {
                display: block;
                float: none;
                margin: 0;
                text-align: center;
            }

            .selected-items .fi-blurb-media {
                width: 2.25rem;
                margin: 0 auto 0.25rem;
            }

            .selected-items .user-last-name {
                display: none;
            }

            .select-items {
                position: absolute;
                top: 2.25rem;
                left: 0;
                right: 0;
                bottom: 0;
                overflow: auto;
            }

            .selected-member .fi-close-button {
                background-color: transparent;
                opacity: 1;
            }

                .selected-member .fi-close-button:before {
                    position: absolute;
                    top: -0.25rem;
                    right: 0.625rem;
                    border-radius: 50%;
                    background-color: #fff;
                }
    }

    @media (min-width: 60em) {

        .original-values,
        .add-users-container {
            height: 32rem;
        }
        .add-users-container .search-users,
        .add-users-container .selected-users,
        .add-users-container .selected-items,
        .add-users-container .selected-items-inner,
        .add-users-container .suggested-contexts,
        .add-users-container .suggested-contexts-inner,
        .add-users-container .browse-users,
        .add-users-container .select-items,
        .add-users-container .select-items-inner {
            position: absolute;
        }

            .add-users-container .search-users,
            .add-users-container .selected-users {
                top: 0;
            }

            .add-users-container .search-users,
            .add-users-container .suggested-contexts,
            .add-users-container .selected-items,
            .add-users-container .select-items {
                left: 0;
            }

            .add-users-container .search-users,
            .add-users-container .browse-users {
                right: 44%;
            }

            .add-users-container .selected-users,
            .add-users-container .selected-items,
            .add-users-container .suggested-contexts,
            .add-users-container .browse-users,
            .add-users-container .select-items {
                bottom: 0;
            }

            .selected-items,
            .suggested-contexts,
            .select-items {
                bottom: 0;
            }

            .selected-users,
            .suggested-contexts {
                width: 44%;
            }

            .selected-users,
            .selected-items,
            .select-items {
                right: 0;
            }

            .suggested-contexts,
            .browse-users {
                top: 3.633125rem;
                border-top: 1px solid #ddd;
            }

            .select-items,
            .selected-items {
                top: 2.25rem;
            }

            .selected-users {
                border-left: 1px solid #ddd;
            }

            .browse-users {
                left: 0;
            }

            .selected-member {
                padding: 0.625rem 0.75rem;
            }

        .selected-items .selected-member {
            padding-right: 2.25rem;
        }

            .selected-member .fi-close-button:hover,
            .selected-member .fi-close-button:focus {
                background-color: rgba(0,0,0,0.05);
                -webkit-transition: background-color 0.1s;
                -moz-transition: background-color 0.1s;
                -o-transition: background-color 0.1s;
                transition: background-color 0.1s;
            }

            .selected-member .fi-close-button:before {
                top: 50%;
                transform: translateY(-50%);
                right: 0.5rem;
                color: #999;
            }

                .selected-member .fi-close-button:hover:before,
                .selected-member .fi-close-button:focus:before {
                    color: #4a4a4a;
                }

            .selected-items-inner,
            .suggested-contexts-inner,
            .select-items-inner {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                overflow: auto;
            }

    }

    .add-users-container .search-users {
        padding: 0.75rem;
    }

    .add-users-container .fi-nav {
        font-size: 0.75rem;
    }

        .add-users-container .fi-nav li > a,
        .add-users-container .fi-nav li > span {
            padding: 0.5em 1rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .add-users-container .fi-nav li + li,
        .add-users-container .fi-nav li.fi-nav-header:first-child {
            margin: 0;
        }

        .add-users-container .fi-nav li.fi-nav-header {
            margin-top: 0.875rem;
            padding: 0;
            font-size: 0.875rem;

        }

    .panel-alt-header {
        padding: 0.625rem 0.75rem;
        border-bottom: 1px solid #ddd;
    }

        .panel-alt-header .panel-alt-title,
        .panel-alt-header .action-button {
            font-size: 0.75rem;
            line-height: 1.3;
        }

        .panel-alt-header .panel-alt-title {
            margin: 0;
            font-weight: 700;
        }

        .panel-alt-header .action-button {
            float: right;
            font-weight: 400;
            text-decoration: underline;
        }
