/*DIRECTION*/
html,
html * {
    direction: rtl;
}

/*FLOATING*/
.fi-float-left {
    float: right !important;
}

.fi-float-right {
    float: left !important;
}

.fi-column {
    float: right;
}

/*ARTICLE ELEMENTS*/
.fi-article-meta > li {
    margin-right: 0;
    margin-left: 1em;
}

/*ICON MARGIN*/
.fi-icon-margin {
    margin-right: 0;
    margin-left: 0.375em;
}


/*GRID OFFSETS*/
.fi-offset-large-11 {
    margin-left: 0;
    margin-right: 91.66666667%;
}

.fi-offset-large-10 {
    margin-left: 0;
    margin-right: 83.33333333%;
}

.fi-offset-large-9 {
    margin-left: 0;
    margin-right: 75%;
}

.fi-offset-large-8 {
    margin-left: 0;
    margin-right: 66.66666667%;
}

.fi-offset-large-7 {
    margin-left: 0;
    margin-right: 58.33333333%;
}

.fi-offset-large-6 {
    margin-left: 0;
    margin-right: 50%;
}

.fi-offset-large-5 {
    margin-left: 0;
    margin-right: 41.66666667%;
}

.fi-offset-large-4 {
    margin-left: 0;
    margin-right: 33.33333333%;
}

.fi-offset-large-3 {
    margin-left: 0;
    margin-right: 25%;
}

.fi-offset-large-fifth {
    margin-left: 0;
    margin-right: 20%;
}

.fi-offset-large-2 {
    margin-left: 0;
    margin-right: 16.66666667%;
}

.fi-offset-large-1 {
    margin-left: 0;
    margin-right: 8.33333333%;
}


/**CSS HELPER CLASSES**/

/*TEXT ALIGNMENT*/
.fi-text-left {
    text-align: right !important;
}

.fi-text-right {
    text-align: left !important;
}

.fi-panel-header .fi-close-button {
    margin-right: 0;
    margin-left: -0.25em;
}

/*NAV & NAV-BAR COMMON STYLES*/

/*ALL ANCHORS & SPANS SELECTED MARK*/
.fi-nav li.fi-selected > a:before,
.fi-nav li.fi-selected > span:before,
.fi-nav-bar li.fi-selected > a:before,
.fi-nav-bar li.fi-selected > span:before {
    left: auto;
    right: 0;
}

/*NAV-ACCORDION & NAV-BAR HAS-CHILD ANCHORS & SPANS*/
.fi-nav-accordion li.fi-has-child > a,
.fi-nav-accordion li.fi-has-child > span,
.fi-nav-bar li.fi-has-child > a,
.fi-nav-bar li.fi-has-child > span {
    padding-right: 1em;
    padding-left: 3em;
}

/*NAV-ACCORDION & NAV-BAR HAS-CHILD ARROWS*/
.fi-nav-accordion li.fi-has-child > a:after,
.fi-nav-accordion li.fi-has-child > span:after,
.fi-nav-bar li.fi-has-child > a:after,
.fi-nav-bar li.fi-has-child > span:after,
.fi-nav-bar ul.fi-root > li.fi-child-open > a:after,
.fi-nav-bar ul.fi-root > li.fi-child-open > span:after {
    right: auto;
    left: 1em;
}

/*NAV*/

/*SECOND LEVEL ULS*/
.fi-nav ul ul {
    padding-left: 0;
    padding-right: 1em;
}

/*NAV-BAR*/
.fi-nav-bar ul.fi-root > li:first-child {
    margin-left: 0.75em;
    margin-right: 0;
}

.fi-nav-bar ul.fi-root > li:last-child {
    margin-right: 0.75em;
    margin-left: 0;
}

/*NAV-BAR FIRST LEVEL ANCHORS & SPANS HAS-CHILD*/
.fi-nav-bar ul.fi-root > li.fi-has-child > a,
.fi-nav-bar ul.fi-root > li.fi-has-child > span {
    padding-left: 0;
}

    .fi-nav-bar ul.fi-root > li.fi-has-child > a:after,
    .fi-nav-bar ul.fi-root > li.fi-has-child > span:after {
        margin-left: 0;
        margin-right: 0.5em;
    }

    /*FIRST LEVEL ANCHORS & SPANS SELECTED MARK*/
    .fi-nav-bar ul.fi-root > li > a:before,
    .fi-nav-bar ul.fi-root > li > span:before {
        left: auto;
        right: 0;
    }

    /*NAV-BAR ALL SUB LEVEL ULS*/
    .fi-nav-bar ul ul {
        text-align: right;
    }

    /*NAV-BAR SECOND LEVEL UL*/
    .fi-nav-bar ul.fi-root > li > ul {
        right: 0;
        left: auto;
    }

        /*NAV-BAR SUB LEVEL HAS-CHILD ARROWS*/
        .fi-nav-bar ul ul li.fi-has-child > a:after,
        .fi-nav-bar ul ul li.fi-has-child > span:after {
            content: "\f104";
        }

        /*NAV-BAR THIRD (AND DEEPER) LEVEL ULS*/
        .fi-nav-bar ul ul ul {
            right: 100%;
            left: auto;
        }

    /*NAV OPPOSITE UL*/
    .fi-nav-bar ul.fi-root ul.fi-opposite {
        text-align: left;
    }

    /*NAV OPPOSITE SECOND LEVEL UL*/
    .fi-nav-bar ul.fi-root ul.fi-opposite {
        right: auto;
        left: 0;
    }

        /*NAV OPPOSITE THIRD (AND DEEPER) LEVEL ULS*/
        .fi-nav-bar ul.fi-root ul ul.fi-opposite {
            right: auto;
            left: 100%;
        }

        /*NAV OPPOSITE SUB LEVEL HAS-CHILD ANCHORS & SPANS*/
        .fi-nav-bar ul.fi-root ul.fi-opposite li.fi-has-child > a,
        .fi-nav-bar ul.fi-root ul.fi-opposite li.fi-has-child > span {
            padding-left: 1em;
            padding-right: 2.25em;
        }

            /*NAV OPPOSITE SUB LEVEL HAS-CHILD ARROWS*/
            .fi-nav-bar ul.fi-root ul.fi-opposite li.fi-has-child > a:after,
            .fi-nav-bar ul.fi-root ul.fi-opposite li.fi-has-child > span:after {
                content: "\f105";
                right: 1em;
                left: auto;
            }


/*MEGA MENU*/

/*MEGA MENU ELEMENT*/
.fi-nav-bar ul.fi-root > li.mega-menu-item > ul {
    right: 0;
    left: auto;
}

    /*ALL HAS-CHILD UNDER MEGA MENU*/
    .fi-nav-bar ul.fi-root > li.mega-menu-item li.fi-has-child > a,
    .fi-nav-bar ul.fi-root > li.mega-menu-item li.fi-has-child > span {
        padding-left: 1em;
    }

    /*THIRD LEVEL (AND DEEPER) ULS UNDER MEGA MENU*/
    .fi-nav-bar ul.fi-root > li.mega-menu-item ul ul ul {
        padding-left: 0;
        padding-right: 1em;
    }

/*FIRST LEVEL LI UNDER MEGA MENU*/
.fi-nav-bar ul.fi-root > li.mega-menu-item > ul > li {
    float: right;
}


/*MODAL NAV*/
/*ALL SUB LEVEL ANCHORS & SPANS*/
.fi-modal .fi-nav ul ul li > a,
.fi-modal .fi-nav ul ul li > span {
    border-left: none;
    border-right: 1px solid #e4e4e4;
}


/*TABLES*/
.fi-table th,
.fi-table td {
    text-align: right;
}


/*ACCORDIONS*/
.fi-accordion-trigger {
    padding-right: 1rem;
    padding-left: 2.125em;
}

    .fi-accordion-trigger:after {
        right: auto;
        left: 0.375em;
    }

    .fi-accordion-plus-minus .fi-accordion-trigger:after {
        right: auto;
        left: 0.875em;
    }


/*TABS*/
.fi-tabs > ul > li {
    float: right;
}

.fi-tabs > ul > li + li {
    margin-left: 0;
    margin-right: 0.5rem;
}

/*TABS OPPOSITE*/
.fi-tabs.fi-opposite > ul > li {
    float: left;
}

.fi-tabs.fi-opposite > ul > li + li {
    margin-right: 0;
    margin-left: 0.5rem;
}

/*TABS CENTER*/
.fi-tabs.fi-center > ul > li + li {
    margin-right: 0.25rem;
}

/*TABS JUSTIFY*/
.fi-tabs.fi-justify > ul > li {
    margin-right: 0;
    margin-left: 0;
}

.fi-tabs.fi-justify > ul > li + li > .fi-tab-button {
    border-left-width: 1px;
    border-right-width: 0;
}

/*VERTICAL TABS*/
.fi-tabs-vertical {
    padding-left: 0;
    padding-right: 10rem;
}

    .fi-tabs-vertical > .fi-tabs,
    .fi-tabs-vertical > .fi-tabs-content-wrapper {
        float: right;
    }

    .fi-tabs-vertical > .fi-tabs {
        margin-left: 0;
        margin-right: -10rem;
    }

    .fi-tabs-vertical > .fi-tabs > ul > li {
        margin-left: 0;
        margin-right: 0;
    }

    .fi-tabs-vertical > .fi-tabs > ul > li > .fi-tab-button {
        border-right-width: 1px;
        border-left-width: 0;
    }

/*ALT TABS*/
.fi-tabs.fi-alt > ul > li + li {
    margin-left: 0;
    margin-right: 1rem;
}

.fi-tabs.fi-alt.fi-opposite > ul > li + li {
    margin-right: 0;
    margin-left: 1rem;
}

.fi-tabs.fi-alt > ul > li > .fi-tab-button {
    padding-left: 0;
    padding-right: 0;
}

/*ALT VERTICAL TABS*/
.fi-tabs-vertical > .fi-tabs.fi-alt > ul > li {
    margin-right: 0;
}

    .fi-tabs-vertical > .fi-tabs.fi-alt > ul > li > .fi-tab-button:before {
        top: 0;
        left: auto;
        right: 0;
    }


/*TOOLTIP*/
.fi-tooltip > span {
    border: 6px solid transparent;
}

    .fi-tooltip.fi-west > span {
        border-left-width: 0;
        border-right-color: #303030;
    }

    .fi-tooltip.fi-east > span {
        border-right-width: 0;
        border-left-color: #303030;
    }


/*CLOSE BUTTON*/
button.fi-close-button,
a.fi-close-button {
    float: left;
}


/*ALERTS & NOTIFIERS*/
.fi-alert:before,
.fi-notify:before {
    content: "";
    left: auto;
    right: -1px;
}


/*ALERTS*/
.fi-alert {
    padding-left: 0.75em;
    padding-right: 1.125em;
}

    .fi-alert i {
        margin-right: 0;
        margin-left: 5px;
    }

.fi-alert.fi-large {
    padding: 1.25em;
    padding-right: 1.5em;
}

.fi-alert .fi-close-button {
    margin-left: -0.25em;
    margin-right: 0.75em;
}

.fi-alert.fi-large .fi-close-button {
    margin-left: -0.5em;
}


/*MODALS*/
.fi-modal .fi-close-button {
    margin-right: 0;
    margin-left: -0.375em;
}

/*MODAL LEFT, RIGHT & FULL-HEIGHT*/
.fi-modal.fi-left .fi-modal-content {
    left: auto;
    right: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

.fi-modal.fi-right .fi-modal-content {
    right: auto;
    left: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}


/*NOTIFY*/
.fi-notify-wrapper {
    left: auto;
    right: 50%;
    margin-left: 0;
    margin-right: -215px;
}

    .fi-notify-wrapper.fi-top-left {
        right: 0;
        margin-right: 0;
    }

    .fi-notify-wrapper.fi-top-right {
        right: auto;
        left: 0;
        margin-right: 0;
    }

    .fi-notify-wrapper.fi-bottom-left {
        right: 0;
        margin-right: 0;
    }

    .fi-notify-wrapper.fi-bottom-right {
        right: auto;
        left: 0;
        margin-right: 0;
    }

.fi-notify {
    float: right;
    padding-left: 1em;
    padding-right: 1.3125em;
    text-align: right;
}

    .fi-notify .fi-close-button {
        margin-right: 0;
        margin-left: -0.25em;
    }


/*BUTTONS*/

/*BUTTONS CONTAINER*/
.fi-buttons-container .fi-button {
    margin-right: 0;
    margin-left: 0.75em;
}

.fi-buttons-container.fi-text-right .fi-button,
.fi-buttons-container .fi-button.fi-float-right {
    margin-left: 0;
    margin-right: 0.75em;
}

* + .fi-button-icon-title {
    margin-left: 0;
    margin-right: 0.375em;
}

.fi-large * + .fi-button-icon-title {
    margin-left: 0;
    margin-right: 0.5em;
}

.fi-small * + .fi-button-icon-title {
    margin-left: 0;
    margin-right: 0.25em;
}

/*BACKBUTTON*/
.fi-back-button:before {
    margin-right: 0;
    margin-left: 0.375em;
}


/*FORM STRUCTURE*/

.fi-form-label.fi-mandatory:after {
    margin-left: 0;
    margin-right: 0.2em;
}

/*FIELD WITH BUTTON*/
.fi-control-button > div:first-child {
    padding-right: 0;
    padding-left: 0.625rem;
}

/*CHECKBOX & RADIO*/
.fi-check-radio {
    padding-left: 0;
    padding-right: 16px;
}

.fi-check-radio input[type="checkbox"],
.fi-check-radio input[type="radio"],
.fi-check-radio label,
.fi-check-radio span {
    float: right;
}

.fi-check-radio input[type="checkbox"],
.fi-check-radio input[type="radio"] {
    margin-left: 0;
    margin-right: -16px;
}

.fi-check-radio label,
.fi-check-radio span {
    padding-left: 0;
    padding-right: 4px;
}

/*VALIDATION*/
.fi-validation span,
.fi-form .hint span {
    float: right;
}


/*CUSTOM LIST*/
.fi-list ul {
    padding-left: 0;
    padding-right: 1.125rem;
}


/*BLURB*/
.fi-blurb-media {
    padding-right: 0;
    padding-left: 0.25em;
}

/*STACKED BLURB*/
.fi-blurb.fi-stacked .fi-blurb-media {
    padding-left: 0;
}


/*PAGINATION*/
.fi-pagination li + li {
    margin-left: 0;
    margin-right: 0.25em;
}

    .fi-pagination .fi-prev > a:before,
    .fi-pagination .fi-prev > span:before {
        content: "\f101";
        margin-right: 0;
        margin-left: 0.425em;
    }

    .fi-pagination .fi-next > a:after,
    .fi-pagination .fi-next > span:after {
        content: "\f100";
        margin-left: 0;
        margin-right: 0.425em;
    }


/*DROPDOWN*/
.fi-dropdown {
    text-align: right;
}

/*CARETS INSIDE BUTTONS*/
.fi-button .fa-caret-down {
    margin-left: 0;
    margin-right: 0.25em;
}

.fi-dropdown-content {
    left: auto;
    right: 0;
}

.fi-dropdown.fi-opposite .fi-dropdown-content {
    right: auto;
    left: 0;
}

/*DROPDOWNS ARROW*/
.fi-dropdown-arrow {
    left: auto;
    right: 10px;
}

    .fi-dropdown-arrow:before,
    .fi-dropdown-arrow:after {
        left: auto;
        right: 0;
    }

    .fi-dropdown-arrow:after {
        right: 1px;
    }

    .fi-dropdown.fi-opposite .fi-dropdown-arrow {
        right: auto;
        left: 10px;
        margin-right: 0;
        margin-left: 16px;
    }

    .fi-dropdown-content > ul > li > a > i,
    .fi-dropdown-content > ul > li > span > i {
        float: right;
        margin-right: 0;
        margin-left: 0.5em;
    }

        .fi-dropdown-content > ul > li > a > i + span,
        .fi-dropdown-content > ul > li > span > i + span {
            margin-left: 0;
            margin-right: 1.5em;
        }

        .fi-dropdown-header .fi-dropdown-title > i {
            float: right;
            margin-right: 0;
            margin-left: 0.5rem;
        }


/*DROPDOWN OVERLAY*/
.fi-mobile-dropdown-overlay .fi-dropdown-header .fi-close-button {
    margin-right: 0;
    margin-left: -0.25rem;
}


/*PROGRESS*/
.fi-progress-bar {
    float: right;
}


/*POLLS*/
.fi-result-label .fi-badge {
    margin-left: 0;
    margin-right: 3px;
}

.fi-poll .fi-progress {
    padding-left: 0;
    padding-right: 4em;
}

.fi-poll .fi-percent-bar {
    margin-left: 0;
    margin-right: -4em;
}

.fi-poll .fi-count-bar {
    text-align: left;
}


/*EVENTS CALENDAR LEGEND*/
.calendar-legend ul li {
    margin-right: 0;
    margin-left: 10px;
}

.legend-color {
    margin-right: 0;
    margin-left: 5px;
}


/*BRANCH LISTING*/
.branch-listing i.fa-map-marker {
    margin-right: 0;
    margin-left: 2px;
}


/*ORGANIZATION CHART*/
.org-chart-wrapper .jOrgChart .node .edit-buttons {
    right: auto;
    left: 0;
}

    .org-chart-wrapper .jOrgChart .node .edit-buttons button {
        float: right;
        margin-left: 0;
        margin-right: 2px;
    }


/*SEARCH*/
.fi-search .fi-form-control,
.fi-search input[type].fi-form-control {
    padding-right: 0.5em;
    padding-left: 2.125em;
}

.fi-search input[type="submit"],
.fi-search input[type="button"],
.fi-search button,
.fi-search .ms-srch-sb > .ms-srch-sb-searchLink {
    right: auto;
    left: 0;
}

    .fi-search:after {
        right: auto;
        left: 0.35em;
    }


/*POSTS*/
.fi-post-date {
    margin-right: 0;
    margin-left: 0.5rem;
}

.fi-post-actions .fi-post-action,
.fi-comment-actions .fi-comment-action,
.fi-comment-action + .fi-comment-date {
    float: right;
    margin-right: 0;
    margin-left: 0.875rem;
}

    .fi-post-actions .fi-post-action:last-child,
    .fi-comment-actions .fi-comment-action:last-child,
    .fi-comment-action + .fi-comment-date:last-child {
        margin-left: 0;
    }

.fi-action-count {
    margin-left: 0;
    margin-right: 0.125rem;
}

.fi-replies {
    padding-left: 0;
    padding-right: 0.5rem;
    border-right-style: solid;
    border-left-width: 0;
    border-left-width: 2px;
}


/**RESPONSIVE-BASED STYLES**/

/*SMALL ONLY (0 to 639px)*/
@media (max-width: 39.9999em) {

    /*REVERT VERICAL TABS IF ATTR IS PERESENT*/
    [data-fi-revert="small"] > .fi-tabs > ul > li {
        float: right;
        margin-left: 0.5rem;
        margin-right: 0;
    }

    /*REVERT ALT VERTICAL TABS*/
    [data-fi-revert="small"].fi-tabs-vertical > .fi-tabs.fi-alt > ul > li {
        margin-right: 0;
        margin-left: 1rem;
    }

}

/*MEDIUM & DOWN (0 to 959px)*/
@media (max-width: 59.9999em) {

    /*REVERT VERICAL TABS IF ATTR IS PERESENT*/
    [data-fi-revert="medium"] > .fi-tabs > ul > li {
        float: right;
        margin-left: 0.5rem;
        margin-right: 0;
    }

    /*REVERT ALT VERTICAL TABS*/
    [data-fi-revert="medium"].fi-tabs-vertical > .fi-tabs.fi-alt > ul > li {
        margin-right: 0;
        margin-left: 1rem;
    }

}

/*LARGE & UP (960px & UP)*/
@media (min-width: 60em) {

    /*HORIZONTAL & INLINE FORMS*/

    .fi-form.fi-form-horizontal .fi-form-field {
        padding-left: 0;
        padding-right: 13.25rem;
    }

    .fi-form.fi-form-horizontal .fi-form-label,
    .fi-form.fi-form-inline .fi-form-label {
        float: right;
        margin-left: 0;
        margin-right: -13.25rem;
        text-align: left;
    }

    .fi-form.fi-form-inline .fi-form-field {
        margin-right: 0;
        margin-left: 1.5rem;
    }

        .fi-form.fi-form-inline .fi-form-field:last-child {
            margin-left: 0;
        }

    .fi-form.fi-form-inline .fi-form-label {
        padding-right: 0;
        padding-left: 0.75rem;
    }

}